*{width: auto;height: auto;margin: 0;padding: 0;list-style: none;vertical-align: middle;font-family: "Pretendard";font-size: 12px;box-sizing: content-box;text-decoration: none;
overflow: hidden;z-index: 1;}

html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;}
div{font-size: 0px;}
input{border: none;text-indent: 8px;text-align: center;height: 32px;border-radius: 4px;text-align: left;}
input:focus{outline: none;}
select{border: none;text-indent: 8px;text-align: center;height: 32px;border-radius: 4px;text-align: left;}
select:focus{outline: none;}
button{border: none;text-indent: 8px;text-align: center;}
span{font-size: inherit;}

header{background-color: #fff;height: 6%; text-align: center;border-bottom: 1px solid #ccc;box-sizing: border-box;font-size: 0px;padding: 0px 24px;}

#site_logo{display: inline-block;width: 50%;height: 100%; text-align: left;padding: 12px 0px;box-sizing: border-box;}
#site_icon{display: inline-block;width: 50%;text-align: right;}

#site_logo_img{height: 100%;display: inline-block;}
#site_navigation{display: inline-block;text-align: right;}
.site_breadCrumb{color: #999;font-size: 16px;padding: 0px 12px;text-decoration: underline;}
#site_menu_icon{font-size: 32px;color: #333;border-radius: 4px;padding: 8px;}
#site_menu_icon:hover{background-color: rgba(0,0,0,0.2);}

#app{height: 94%;position: relative;}
#full_size_frame{width: 100%;height: 100%; display: block;overflow-y: auto;}
#main_ment_frame{width: 96%;max-width: 1440px;padding: 24px 2% 0px 2%;}
#site_main_h1{font-size: 32px;font-weight: 300;color: #0d0d0d;text-align: left;}
#site_main_h1 > span{font-weight: 700;}
#site_main_h2{font-size: 16px;font-weight: 300;color: #1d1d1d;text-align: left;margin: 8px 0px 0px 0px;}

#content_layout{width: 96%;max-width: 1440px; display: block;background-color: #fff;overflow: visible;padding: 0px 2%;}
.toggle_visible{display: block!important;}
#sidebar_black_frame{display: none;width: 100%;height: 100%;background-color: rgba(0,0,0,0.4);position: absolute;left: 0px;top: 0px;z-index: 2;}
#sidebar_layout{width: 400px;height: 100%; box-sizing: border-box;padding: 24px;border-left: #ccc;position: absolute;right: 0px;top: 0px;background-color: #fff;}
.sidebar_layout_nav{display: block; width: 100%;box-sizing: border-box;color: #333;border-bottom: 1px solid #e7e7e7;padding: 16px 0px;font-size: 0px;}
#sidemenu_title{margin: 0px 0px 16px 0px;font-size: 12px;font-weight: 700;color: #999;}
.sidebar_layout_a{font-size: 0px;width: 100%;display: block;}
.page_nav_name{font-size: 16px;color: #1d1d1d;width: 90%;text-align: left;display: inline-block;}
.page_nav_icon{font-size: 24px;color: #333;width: 10%;text-align: right;display: inline-block;}

#layout_line_1{width: 100%;display: block;box-sizing: border-box;padding: 24px 0px;overflow: visible;}
#layout_line_2{width: 100%;display: block;box-sizing: border-box;padding: 24px 0px;overflow: visible;}

.shadow_style_1{box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);}
.empty_space_24{width: 100%;height: 24px;}

/* 여기 안에 수정 */

#layout_box_1{background-color: #f0f0f0;padding: 24px 16px;box-sizing: border-box;}
.layout_box_title{width: 100%;font-size: 24px;font-weight: 500;color: #333;}
.layout_box_contents{width: 100%;margin: 24px 0px 0px 0px;}
.layout_box_h3_comment{width:100%;font-size: 16px;font-weight: 500;color: #666;margin: 4px 0px 16px 0px;}
.layout_box_img_frame{width: 240px;height: 300px;overflow: auto;}
.very_long_img{width: 100%;display: block;}

#layout_box_2{background-color: #f0f0f0;padding: 24px 16px;box-sizing: border-box;}
#layout_box_3{background-color: #f0f0f0;padding: 24px 16px;box-sizing: border-box;}

.simple_code_box{width: 100%;background-color: #0d0d0d;border-radius: 16px;padding: 32px 16px;margin: 24px 0px;}
.simple_code_box > pre{font-size: 12px;color:#fff;}
.pre_span_green{color: #69BF41;}

/* 여기 안에 수정 */
#layout_box_5{background-color: #f0f0f0;padding: 24px 16px;box-sizing: border-box;}
.layout_box_link{font-size: 16px;text-decoration: underline;color:skyblue}

#footer_frame{width: 100%;border-top: 1px solid #e7e7e7;}
#footer_layout{width: 100%;max-width: 1440px; margin: 0px auto;padding: 16px 0px;font-size: 12px;color: #999;font-weight: 700;text-align: center;}

@media screen and (max-width:720px) {
    header{height: 10%;}
    #app{height: 90%;}
    #site_logo_img{height: 55%;}
    #site_navigation{width: 100%;height: 40%;margin: 2% 0px 0px 0px;text-align: left;}
    .site_breadCrumb{font-size: 12px;display: inline-block;padding: 0px 8px 0px 0px;}
    #layout_line_1{width: 100%;display: block;}
    #layout_line_2{width: 100%;display: block;}

    #site_main_h1{font-size: 24px;}
    #sidebar_layout{width: 320px;}
}